{% extends "base.html" %}
{% load app_filters %}

{% block content %}
    <div class="">
        <div class="container border position-absolute top-50 start-50 translate-middle" style="width: 40%;">
            <div class="row pb-5 justify-content-center">
                <div class="col text-center w-50">
                    <div class="row">
                        <div class="p-5 fs-2">
                            Login
                        </div>
                    </div>

                    {% if form.errors %}
                        <div class="row">
                            <div>Your username and password didn't match. Please try again.</div>
                        </div>
                    {% endif %}

                    <div class="row mb-3 justify-content-center">
                        <div class="col-auto w-50">
                            <form method="post" action="{% url 'login' %}">
                                {% csrf_token %}
                                    <div class="p-2">
                                        {{ form.username|add_place_holder:"Username"|add_class:"form-control" }}
                                    </div>
                                    <div class="p-2">
                                        {{ form.password|add_place_holder:"Password"|add_class:"form-control" }}
                                    </div>
                                    <div class="d-flex p-2">
                                        <input type="submit" value="login" class="btn btn-primary ms-auto" />
                                    </div>
                                <input type="hidden" name="next" value="{{ next }}" />
                            </form>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
{% endblock %}